<header class="navigation">
  <div class="menu-wrapper">
    <div class="nav">
      <ul id="navigation-menu" class="nav-sidebar">
	      <!-- <li class="nav-sidebar-item"><a href="/">home</a></li> -->
	       {% for links in site.data.navigation %}
		       <li id="{{links.slug}}" class="nav-sidebar-item{% if page.url contains /links.slug/  %} active{% endif %}">
			        <a href="{{links.slug}}"><small>{{links.name}}</small></a>
		        </li>
	{% endfor %}
</ul>

    </div>
  </div>
</header>
