.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: 53.75em !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  //$hero-image: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png";
$hero-image: "/assets/img/hero-bottom-the-whole-story.png";
  //background: url($hero-image),
    //          linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top),
      //        no-repeat $hero-background-top scroll;
  background-color: $base-accent-color;
  background-position: bottom;
  background-repeat: repeat-x;
  //background-size: c;
  background-image: $hero-image;
  //padding-bottom: 3em;
  min-height: 60vh;



  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container();
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
