<article class="hentry {% if page.class %}{{page.class}}{% endif %}">
  <header>
    {% if page.category %}
      <h6>{{ page.category }}</h6>
    {% endif %}
    {% if page.title %}
      <h1 class="entry-title">
        {{page.title}}
      </h1>
    {% endif %}
    {% if page.subtitle %}
      <h2>
        {{page.subtitle}}
      </h2>
    {% endif %}
    {% if page.date %}
      <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
        <small>
          {{ page.date | date:'%A %b %d, %Y' }}
        </small>
      </time>
    {% endif %}
  </header>
  <div class="entry-content prose">
    {% if page.include_news_item == true %}
      {% include snippets/news-item.html %}
      <hr />
    {% endif %}
    {% if page.description %}
      <h2>
        {{ page.description | markdownify | remove: '<p>' | remove: '</p>' }}
      </h2>
    {% endif %}
    {{ content }}
    {% if page.podcast_link_path %}
      <h4>listen</h4>
      <audio controls preload="auto">
        <source src="{{ page.podcast_link_path }}" type="audio/mpeg">
      </audio>
      <br />
      <a href="{{ page.podcast_link_path | replace: 'https://', site.podtrac_prefix }}"  onclick=”ga(‘send’, ‘event’, audiofile, ‘Download’, ‘Podcast – Download’);“>
        download
      </a>
    {% endif %}
    {% include snippets/subscribe-buttons.html %}
    {% if page.file %}
      <small>
        <a href="/assets/files/{{page.file}}">
          DOWNLOAD
        </a>
      </small>
  {% endif %}
  {% if page.include %}
    {% include {{page.include}} %}
  {% endif %}
</div>
  {% if site.include_addthis_sharing %}
      <div class="sharing">
        {% include articles/sharing.html %}
      </div>
  {% endif %}
  {% if page.url contains '/article/' %}
    {% include articles/comments-twitter.html %}
      {% include global/license-creative-commons.html %}
    {% endif %}
</article>
